/* heder*/

body, html {
   height: 100%;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    color:dimgrey;
    background-color: #54433c;
    background-image: url(../img/oboi-fon-temnii.1366x768.jpg);
    background-repeat: no-repeat;
    background-position: center;

}


div {
    padding: 5% 10%;
}

img {
    border-radius: 10%;
    height: 200px;
}

a {
    color:darkcyan
}

a:hover {
    color:white;
}

a:active {
    color:pink;
}
